DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=project_db
Redis__Configuration=redis:6379
EXTERNAL_API_BASE_URL=http://localhost:5000
SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_FROM=no-reply@local.test
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_USE_TLS=false
